@charset "UTF-8";

/* PALETA DE CORES:
   Branco
   Preto
   Verde -> #49a09d
   Lilás -> #5f2c82
*/

body{
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
} /* PLACEHOLDER TO TEST CSS */